* {
    font-family: Arial, Helvetica, sans-serif;
}

.top {
    text-align: center;
    color: white;
    padding: 60px;
    background: #c96c6c;
}

body {
    color: white;
}

h1 {
    font-weight: 300;
}

h2 {
    font-weight: 200;
}

.bio {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.section {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width: 500px) {
    .section {
        flex-direction: column;
    }
}

li {
    list-style-type: none;
}

a:link {
    color: white;
    text-decoration: none;
}
  
a:visited {
    color: white;
    text-decoration: none;
}
  
a:hover {
    color: rgb(59, 35, 35);
    text-decoration: underline;
}
  
a:active {
    color: white;
    text-decoration: underline;
}

/* circle tutorial from: https://code-boxx.com/css-circles-text/ 
Modified by me. links are centered weirdly though, still to fix.*/

.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #c96c6c;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle-text {
    /*position: absolute;*/
    bottom: 50%;
    width: 80%;
    /*display: inline-block;*/
}

.sodagirl {
    border-radius: 50%;
    height: 300px;
}

.orangegirl {
    border-radius: 50%;
    height: 300px;
}

.footer {
    color: white;
    text-align: center;
    background: #c96c6c;
    padding: 20px;
}