body {
    background-color: #fe6883;
    font-family: aktiv-grotesk, sans-serif;
    font-style: normal;
    font-weight: 700;
}

p {
    font-size: 15px;
    text-align: center;
    font-weight: 500;
}

.container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    position: relative;
    align-content: center;
    align-items: center;
  }
  
form {
    background: #fe6883; 
    padding: 25px;
    margin: 150px 0;
    margin-top: 30px;
    color: white;
}

h2 {
    text-align: center;
    font-size: 35px;
    padding-bottom: 25px;
    font-weight: 700;
}

/*home button*/
button {
    margin-left: 10px;
    margin-top: 10px;
    background-color: #fe6883;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: #b42d46;
    color: white;
}

/* submit button */
.btn.btn-primary {
    display: block;
    text-align: center;
    margin: 0 auto;
    background: white;
    color: #fe6883;
    font-weight: 700;
}

.heart {
    object-fit: cover;
    width: 150px;
    display: block;
    margin: 0 auto;
}