body {
    background-color: #fe6883;
    font-family: aktiv-grotesk, sans-serif;
    font-style: normal;
    font-weight: 700;
}

.container {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    align-content: center;
  }
  
form {
    background: #fe6883; 
    padding: 25px;
    margin: 150px 0;
    color: white;
}

h2 {
    text-align: center;
    font-size: 35px;
    padding-bottom: 25px;
}

.btn.btn-primary {
    display: block;
    text-align: center;
    margin: 0 auto;
    background: #1641cf;
    color: #fff;
}